@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-white : #FFFFFF;
    --color-bg: #F4F2F9;
    --color-black-1: #000000;
    --color-black-2: #3C3C3C;
    --color-black-3: #BABABA;
    --color-violet: #F8F5FF;
    --color-violet-content: #8147E7;
    --color-red: #FFECEC;
    --color-red-content : #F93333;
    --color-green : #ECFFEE;
    --color-green-content: #40997E;
    --color-orange: #FFF4EC;
    --color-orange-content : #E2A925;
    --color-blue: #2188E7;
    --color-danger: #CC1313;
    --color-border: #E9E9E9;
    --color-border-accent: #D2D0E2;
    --text-base: 20px;
    --text-sm: 16px;
    --text-h1: 32px;
    --text-h2: 24px;
}

@layer base {

    body{
        @apply bg-bg text-black-1;
    }


    h1 {
        @apply text-h1 font-bold;
    }

    h2 {
        @apply text-h2 font-semibold;
    }

    p {
        @apply text-base font-normal leading-relaxed;
    }

    span{
        @apply text-sm;
    }
}
